declare @id uniqueidentifier
set @id=(select NEWID())

EXEC [dbo].[sp_CreateUserMobil]
     @IsActive = 1,
     @RowGuid = @id,
     @UserName = 'innova',
     @FirstLastName = 'Test Kullanıcı',
     @Password = '6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b',
     @OfficeCode = '',
     @SalesPersonCode = '',
     @NebimUserName = 'test',
     @DeviceRID = 'RID-001',--girişteki chaz id tanımlanır..
     @UserType = 'Normal',
     @CreatedUserName = 'admin',
     @AppName = 'MyApp',
     @FirmaId = 'inv0101'--firma id...
-- Ürün Sorgula
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='headerproduct')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'headerproduct', 'Ürün Sorgula', 1, 'sa')
END

-- Sayım Fişi
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='counting')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'counting', 'Sayım Fişi', 1, 'sa')
END

-- Kasa Ekstresi
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='kasa')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'kasa', 'Kasa Ekstresi', 1, 'sa')
END

-- Mağaza Ciro Raporu
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='storesalesreport')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'storesalesreport', 'Mağaza Ciro Raporu', 1, 'sa')
END

-- Cari
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='cari')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'cari', 'Cari', 1, 'sa')
END

-- Perakende Müşteri Ekstresi
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='cari_perakende')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'cari_perakende', 'Perakende Müşteri Ekstresi', 1, 'sa')
END

-- Personel Alışveriş Ekstresi (cari_personel)
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='cari_personel')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'cari_personel', 'Personel Alışveriş Ekstresi', 1, 'sa')
END

-- Personel Alışveriş Ekstresi (cari_tedarikci)
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='cari_tedarikci')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'cari_tedarikci', 'Personel Alışveriş Ekstresi', 1, 'sa')
END

-- Personel Alışveriş Ekstresi (cari_toptan)
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='cari_toptan')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'cari_toptan', 'Personel Alışveriş Ekstresi', 1, 'sa')
END

-- Ürün Envanter Raporu
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='stokraporu')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'stokraporu', 'Ürün Envanter Raporu', 1, 'sa')
END
-- Kullanıcı Yetkileri Belirleyici
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='CanEditAuthority')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'CanEditAuthority', 'Kullanıcı Yetki Belirleyici', 1, 'sa')
END
-- Transfer İşlemleri
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='transfer')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'transfer', 'Transfer İşlemleri', 1, 'sa')
END
-- Reyon Fişi İşlemleri
IF NOT EXISTS (SELECT 1 FROM tbGuidedReportUserAuthority WHERE UserName='innova' AND MenuCode='reyonfisi')
BEGIN
    INSERT INTO tbGuidedReportUserAuthority(UserName, MenuCode, MenuName, CanSee, CreatedUserName)
    VALUES ('innova', 'reyonfisi', 'Reyon Fişi', 1, 'sa')
END