--------------------------------------------------
-- dbo.vw_UserLoginInfo
--------------------------------------------------
IF OBJECT_ID('dbo.vw_UserLoginInfo', 'V') IS NOT NULL DROP VIEW dbo.vw_UserLoginInfo
GO




CREATE VIEW [dbo].[vw_UserLoginInfo] AS
SELECT 
    UserName,
    FirmaId,
    FirmaAdi,
    FirstLastName,
    OfficeCode,
    StoreCode,
    WareHouseCode,
    SalesPersonCode,
    IsAdmin,
    UserType,
    NebimUserName,
    AppName,
    StoreDescription=(select top 1 StoreDescription from StoreInfo('tr') where StoreCode=tbGuidedReportsUser.StoreCode),
    OfficeDescription=(select top 1 OfficeDescription from Office('tr') where OfficeCode=tbGuidedReportsUser.OfficeCode),
    WareHouseDescription=(select top 1 WareHouseDescription from Warehouse('tr') where WareHouseCode=WareHouse.WareHouseCode),
    DeviceRID
    ,Password
 ,Aktif
    ,RowGuid
    -- Yeni alanları buraya rahatça ekle
FROM tbGuidedReportsUser WITH(NOLOCK)
WHERE Aktif = 1



GO

--------------------------------------------------
-- dbo.vwMobilUserList
--------------------------------------------------
IF OBJECT_ID('dbo.vwMobilUserList', 'V') IS NOT NULL DROP VIEW dbo.vwMobilUserList
GO

CREATE VIEW [dbo].[vwMobilUserList]
As
SELECT 
[Uygulama Adı]=ISNULL(AppName,'')
,[Kullanıcı Adı]=ISNULL(UserName,'')
,[Adı Soyadı]=ISNULL(FirstLastName,'')
,[Şifre]=ISNULL(Password,'')
,Ofis=ISNULL(OfficeCode,'')
,[Ofis Adı]=ISNULL((select OfficeDescription from Office('tr') where OfficeCode=tbGuidedReportsUser.OfficeCode),'')
,[Nebim Kullanıcı Adı]=ISNULL(NebimUserName,'')
,[Aygıt ID]=DeviceRID,[Oluşturulma Tarihi]=ISNULL(CreatedDate,'')
,[Kullanıcı Tipi Kodu]=ISNULL(UserType,'')
,[Kullanıcı Tipi Açıklaması]=''
,[Satış Sorumlusu Kod]=SalesPersonCode
,[Satış Sorumlusu Ad Soyad]=(select top 1 FirstLastName from cdSalesperson WITH(NOLOCK) where SalesPersonCode=tbGuidedReportsUser.SalesPersonCode)
,[İşten Ayrıldı]=(select top 1 SignOff from cdSalesperson WITH(NOLOCK) where SalesPersonCode=tbGuidedReportsUser.SalesPersonCode)
,[Kullanım Dışı]=(select top 1 cdSalesperson.IsBlocked from cdSalesperson WITH(NOLOCK) where SalesPersonCode=tbGuidedReportsUser.SalesPersonCode)
,RowGuid
,FirmaId
,FirmaAdi
,Aktif
FROM tbGuidedReportsUser WITH(NOLOCK)
GO

--------------------------------------------------
-- dbo.vwRemainingOrdersMOBIL
--------------------------------------------------
IF OBJECT_ID('dbo.vwRemainingOrdersMOBIL', 'V') IS NOT NULL DROP VIEW dbo.vwRemainingOrdersMOBIL
GO





CREATE VIEW [dbo].[vwRemainingOrdersMOBIL]
as
select 
ItemCode
,ColorCode
,ItemDim1Code
,ItemDim2Code
,RemainingOrderQty1=SUM(RemainingOrderQty1) 
, NetAmount                     = ROUND(SUM((trOrderLineCurrency.TaxBase / trOrderLine.Qty1) * ISNULL(AllOrderStatus.RemainingOrderQty1, 0)), 4)  
 FROM  trOrderHeader WITH(NOLOCK)
 INNER JOIN trOrderLine WITH(NOLOCK) ON trOrderLine.OrderHeaderID = trOrderHeader.OrderHeaderID
  LEFT OUTER JOIN trOrderLineCurrency WITH(NOLOCK) ON trOrderLineCurrency.OrderLineID = trOrderLine.OrderLineID AND trOrderLineCurrency.CurrencyCode = trOrderHeader.LocalCurrencyCode
  LEFT OUTER JOIN AllOrderStatus ON AllOrderStatus.OrderLineID = trOrderLine.OrderLineID

      where  ProcessCode IN ('RI','R')
      group by ItemCode,ColorCode,ItemDim1Code,ItemDim2Code
      having SUM(RemainingOrderQty1)>0
GO
