


CREATE  PROC [dbo].[sp_OtherDimInventoryFromBarcodeMOBILE]
(
    @Barcode       VARCHAR(30),
    @ColorCode     VARCHAR(30) = NULL,   -- Opsiyonel override
    @ItemDim1Code  VARCHAR(30) = NULL,   -- Opsiyonel override
    @ItemDim2Code  VARCHAR(30) = NULL,   -- Opsiyonel override
    @ItemDim3Code  VARCHAR(30) = NULL    -- Opsiyonel override
)
AS
BEGIN
    SET NOCOUNT ON;

    -- "" -> NULL normalizasyonu
    SET @ColorCode     = NULLIF(@ColorCode, '');
    SET @ItemDim1Code  = NULLIF(@ItemDim1Code, '');
    SET @ItemDim2Code  = NULLIF(@ItemDim2Code, '');
    SET @ItemDim3Code  = NULLIF(@ItemDim3Code, '');

    IF OBJECT_ID('tempdb..#BarcodeVariant') IS NOT NULL DROP TABLE #BarcodeVariant;

    -- Barkodun temsil ettiği varyant(lar). Çoğul ihtimaline karşı, şimdilik TOP(1) alıyoruz.
    SELECT TOP (1)
        ItemCode,
        ColorCode,
        ItemDim1Code,
        ItemDim2Code,
        ItemDim3Code
    INTO #BarcodeVariant
    FROM prItemBarcode WITH (NOLOCK)
    WHERE Barcode = @Barcode;

    -- Barkod bulunamadıysa boş şema döndür (uygulama tarafı kırılmasın)
    IF NOT EXISTS (SELECT 1 FROM #BarcodeVariant)
    BEGIN
        SELECT
            WarehouseDescription = CAST(NULL AS NVARCHAR(200)),
            ColorDescription     = CAST(NULL AS NVARCHAR(200)),
            ColorCode            = CAST(NULL AS VARCHAR(30)),
            ItemDim1Code         = CAST(NULL AS VARCHAR(30)),
            ItemDim2Code         = CAST(NULL AS VARCHAR(30)),
            ItemDim3Code         = CAST(NULL AS VARCHAR(30)),
            InventoryQty1        = CAST(0 AS DECIMAL(18,3));
        RETURN;
    END

    DECLARE
        @BItemCode      VARCHAR(30),
        @BColorCode     VARCHAR(30),
        @BItemDim1Code  VARCHAR(30),
        @BItemDim2Code  VARCHAR(30),
        @BItemDim3Code  VARCHAR(30);

    SELECT
        @BItemCode      = ItemCode,
        @BColorCode     = ColorCode,
        @BItemDim1Code  = ItemDim1Code,
        @BItemDim2Code  = ItemDim2Code,
        @BItemDim3Code  = ItemDim3Code
    FROM #BarcodeVariant;

    -- Etkin (effective) filtre: varsa parametre ile override et, yoksa barkoddan geleni kullan
    DECLARE
        @EColorCode     VARCHAR(30) = COALESCE(@ColorCode,    @BColorCode),
        @EItemDim1Code  VARCHAR(30) = COALESCE(@ItemDim1Code, @BItemDim1Code),
        @EItemDim2Code  VARCHAR(30) = COALESCE(@ItemDim2Code, @BItemDim2Code),
        @EItemDim3Code  VARCHAR(30) = COALESCE(@ItemDim3Code, @BItemDim3Code);

    /*
        Mantık:
        - Aynı ItemCode içinden,
        - DOLU olan boyutlarda tam eşleşen varyantı "NOT (hepsi eşit)" ile hariç tut.
        - NULL olan boyutlar eşleştirme kriterine dahil edilmez.
    */
    SELECT
        WarehouseDescription = (SELECT WareHouseDescription
                                FROM Warehouse('tr')
                                WHERE WarehouseCode = ii.WarehouseCode),
        ColorDescription = (SELECT ColorDescription
                            FROM cdColorDesc WITH (NOLOCK)
                            WHERE ColorCode = ii.ColorCode),
        ii.ColorCode,
        ii.ItemDim1Code,
        ii.ItemDim2Code,
        ii.ItemDim3Code,
        InventoryQty1 = ISNULL(SUM(ii.InventoryQty1), 0)
    FROM ItemInventory AS ii WITH (NOLOCK)
    WHERE
        ii.ItemCode = @BItemCode
        AND NOT (
               ( @EColorCode     IS NULL OR ii.ColorCode    = @EColorCode )
           AND ( @EItemDim1Code  IS NULL OR ii.ItemDim1Code = @EItemDim1Code )
           AND ( @EItemDim2Code  IS NULL OR ii.ItemDim2Code = @EItemDim2Code )
           AND ( @EItemDim3Code  IS NULL OR ii.ItemDim3Code = @EItemDim3Code )
        )
    GROUP BY
        ii.ItemCode, ii.WarehouseCode, ii.ColorCode, ii.ItemDim1Code, ii.ItemDim2Code, ii.ItemDim3Code
    ORDER BY
        InventoryQty1 DESC;
END

-- İsimlendirme ve tipleri biraz düzelttim; istersen eski isimle bırakabilirsin.
CREATE  PROC [dbo].[sp_OtherDimInventoryFromCodeMOBILE]
(
    @ItemCode      VARCHAR(30),
    @ColorCode     VARCHAR(30) = NULL,
    @ItemDim1Code  VARCHAR(30) = NULL,
    @ItemDim2Code  VARCHAR(30) = NULL,
    @ItemDim3Code  VARCHAR(30) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- "" -> NULL normalizasyonu (müşteriler boş string gönderebiliyor)
    SET @ColorCode    = NULLIF(@ColorCode, '');
    SET @ItemDim1Code = NULLIF(@ItemDim1Code, '');
    SET @ItemDim2Code = NULLIF(@ItemDim2Code, '');
    SET @ItemDim3Code = NULLIF(@ItemDim3Code, '');

    /*
        Mantık:
        - Aynı ItemCode içinden,
        - Kullanıcı tarafından DOLU gönderilen boyutlarda tam eşleşen satırı hariç tut.
          (en az bir kullanılan boyut farklı olsun)
        - Boş/NULL gönderilen boyutlarda hiçbir kısıt uygulanmaz.
    */
    SELECT
        WarehouseDescription = (SELECT WareHouseDescription
                                FROM Warehouse('tr')
                                WHERE WarehouseCode = ii.WarehouseCode),
        ColorDescription = (SELECT ColorDescription
                            FROM cdColorDesc WITH (NOLOCK)
                            WHERE ColorCode = ii.ColorCode),
        ii.ColorCode,
        ii.ItemDim1Code,
        ii.ItemDim2Code,
        ii.ItemDim3Code,
        InventoryQty1 = ISNULL(SUM(ii.InventoryQty1), 0)
    FROM ItemInventory AS ii WITH (NOLOCK)
    WHERE
        ii.ItemCode = @ItemCode
        AND NOT (
               ( @ColorCode    IS NULL OR ii.ColorCode    = @ColorCode )
           AND ( @ItemDim1Code IS NULL OR ii.ItemDim1Code = @ItemDim1Code )
           AND ( @ItemDim2Code IS NULL OR ii.ItemDim2Code = @ItemDim2Code )
           AND ( @ItemDim3Code IS NULL OR ii.ItemDim3Code = @ItemDim3Code )
        )
    GROUP BY
        ii.ItemCode, ii.WarehouseCode, ii.ColorCode, ii.ItemDim1Code, ii.ItemDim2Code, ii.ItemDim3Code
    ORDER BY
        InventoryQty1 DESC;
END
